name: Publish release to Docker Hub

on:
    workflow_dispatch:
    release:
        types:
            - published

env:
    NODE_VERSION: 18
    PNPM_VERSION: 7
    IMAGE_PLATFORMS: 'linux/amd64,linux/arm64'
    IMAGE_REGISTRY: 'ghcr.io'
    COMMIT_SHA: ${{ github.event.pull_request.head.sha || github.sha }}
    BRANCH_OR_TAG: ${{ github.event.pull_request.head.ref || github.ref_name }}

jobs:
    publish:
        runs-on: ubuntu-22.04
        steps:
            - name: Checkout
              uses: actions/checkout@v3

            - name: Set up QEMU
              if: contains(env.IMAGE_PLATFORMS, ',')
              uses: docker/setup-qemu-action@v2

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v2

            - name: Extract metadata for Docker
              id: docker-meta
              uses: docker/metadata-action@v4
              with:
                  images: |
                      smartlook/relay-proxy
                      ${{ env.IMAGE_REGISTRY }}/smartlook/relay-proxy
                  tags: |
                      type=ref,event=branch
                      type=ref,event=pr
                      type=semver,pattern={{version}}
                      type=semver,pattern={{major}}.{{minor}}

            - name: Login to GitHub Container Registry
              uses: docker/login-action@v2
              with:
                  registry: ${{ env.IMAGE_REGISTRY }}
                  username: ${{ github.repository_owner }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Log in to Docker Hub
              uses: docker/login-action@v2
              with:
                  username: ${{ secrets.DOCKER_HUB_USERNAME }}
                  password: ${{ secrets.DOCKER_HUB_TOKEN }}

            - name: Git metadata
              id: git-meta
              run: |
                  echo "BRANCH_OR_TAG_NORMALIZED_WITH_SHA=$(echo ${{ env.BRANCH_OR_TAG }} | tr '/' '-'),${{ env.COMMIT_SHA }}" >> $GITHUB_OUTPUT

            - name: Build and push image to registry
              uses: docker/build-push-action@v4
              with:
                  context: .
                  push: true
                  provenance: false
                  build-args: |
                      NODE_VERSION=${{ env.NODE_VERSION }}
                      PNPM_VERSION=${{ env.PNPM_VERSION }}
                      COMMIT_SHA=${{ steps.git-meta.outputs.BRANCH_OR_TAG_NORMALIZED_WITH_SHA }}
                  cache-from: type=gha
                  cache-to: type=gha,mode=max
                  platforms: ${{ env.IMAGE_PLATFORMS }}
                  tags: ${{ steps.docker-meta.outputs.tags }}
                  labels: ${{ steps.docker-meta.outputs.labels }}
